includes/addons/*/
includes/addons/settings/
includes/addons/settings/*
!includes/autoloader.php
!includes/readme.txt
languages/*
!languages/main.pot
!languages/en.po
sql.php
sql_.php
images/avatars/*
!images/avatars/avatar.jpg
backups/*
themes/*
!themes/index.php
!themes/bs4
vendor/*
Archive.zip
php-error.log
